@import url('variable.css');

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: sans-serif;
}

.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: absolute;
    width: 98%;
    padding-left: 20px;
    padding-right: 20px;
    padding-top: 20px;

}

.ul_menu {
    list-style-type: none;
    display: flex;
    text-align: center;
    gap: 70%;
    padding-right: 260px;
    color: var(--font-color-1);

}

.section_home{
    background-image: linear-gradient(var(--color-gradient-1), var(--color-gradient-2)), var(--banner-1);
    background-size: cover;
    background-position: center 20%;
    background-repeat: no-repeat;
    height: 150svh;
}

.article_home{
    width: 626px;
    height: 300px;
    position: relative;
    left: 21svW;
    top: 36svh;
    display: flex;
    flex-direction: column;
    gap: 0px;
    color: var(--font-color-1);
}

.article_home span{
    font-size: 28px;    
    font-family: "Monserrat-Semibold";
}

.article_home h1{
    font-size: 75px;    
    font-family: "Monserrat-Semibold";
}

.article_home p{
    font-size: 20px;    
    font-family: "Monserrat-medium";
}

.ul_menu li{
    font-size: 19px;
    font-family: "Monserrat-semibold";
}

.section_icon{
    background: #091b18;
    display: flex;
    justify-content: space-evenly;
}
    

/*Para telefonos*/

@media (max-widht: 960px) {
    .header{
        padding: 15px;
    }
    .ul_menu{
        gap: 15px;
        padding-right: 15px;
    }
    .section_home{
        display: flex;
        justify-content: space-around;
    }
    .article_home{
        left: 0;
    }
    .article_home h1{
        font-size: 70px;
    }
    .section_icon{
        justify-content: space-around;
    }
    .section_home img{
        width: 45px;
        height: 45px;
        object-fit: contain;
    }
}

@media (max-widht: 576px) {
    .header{
        justify-content: normal;
    }
    .logo{
        flex: 1;
    }
    .div_menu{
        width: 100%;
    }
    .ul_menu{
        display: flex;
        justify-content: center;
        padding-right: 0;
    }
    .article_home{
        top: 25svh;
    }
    .article_home{
        font-size: 60px;
    }
    .section_home{
        display: flex;
        justify-content: normal;
        padding-left: 15px;
        padding-right: 15px;
    }
}