<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/style2.css">
    <title>Blog</title>
</head>
<body>
    <header class="header">
        <div class="div_logo">
            <img src="/storage/img/profile.png">
        </div>
        <div class="div_menu">
            <ul class="ul_menu">
                <li><a href="/views/work.html" class="sin_subrayado" target="_blank"><b>Blog</b></a></li>
                <li><a href="/views/about.html" class="sin_subrayado" target="_blank"><b>About</b></a></li>
                <li><a href="/views/blog.html" class="sin_subrayado" target="_blank"><b>Contact</b></a></li>
            </ul>
        </div>
        <div class="div_images">
            <img src="/storage/img/acount.png">
            <img src="/storage/img/search.png">
            
        </div>
        <div class="linea">
            <img src="/storage/img/Line.png">
            
        </div>
    </header>
    
</body>
</html>